[class*="col-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006cfa;
  color: white;
  border: 1px solid white;
  height: 50px;
  padding: 1rem;
}

.green {
  height: 90%;
  background-color: #00e165;
  border: 1px solid #006cfa;
}
