[class*="col-"] {
  justify-content: center;
  align-items: center;
  background-color: #006cfa;
  color: white;
  border: 1px solid white;
  padding: 1rem;
}

.green {
  background-color: #00e165;
  border: 1px solid #006cfa;
}
